<div class="spinner-container absolute" [hidden]="isLoaded">
  <div class="spinner-border"></div>
</div>

<div *ngIf="isLoaded && isDataAvailable" class="p-md">
  <div class="row">
    <div *ngFor="let cityObj of cityList" class="col-sm-3 m-t-md">
      <div class="card pointer" (click)="openForecast(cityObj)">
        <div class="card-header">
          <span class="bold">{{cityObj.city}}</span>
        </div>
        <div class="card-body">
          <div>
            <span class="font-w-600">Country: </span>
            <span *ngIf="cityObj.country">{{cityObj.country}}</span>
            <span *ngIf="!cityObj.country">-</span>
          </div>
          <div class="m-t-sm">
            <span class="font-w-600">Sunrise Time: </span>
            <span *ngIf="cityObj.sunriseTime">{{cityObj.sunriseTime}}</span>
            <span *ngIf="!cityObj.sunriseTime">-</span>
          </div>
          <div>
            <span class="font-w-600">Sunset Time: </span>
            <span *ngIf="cityObj.sunsetTime">{{cityObj.sunsetTime}}</span>
            <span *ngIf="!cityObj.sunsetTime">-</span>
          </div>
          <div class="m-t-sm">
            <span class="font-w-600">Weather: </span>
            <span *ngIf="cityObj.weather">{{cityObj.weather}}</span>
            <span *ngIf="!cityObj.weather">-</span>
          </div>
          <div>
            <span class="font-w-600">Humidity: </span>
            <span *ngIf="cityObj.humidity">{{cityObj.humidity}}</span>
            <span *ngIf="!cityObj.humidity">-</span>
          </div>
          <div>
            <span class="font-w-600">Pressure: </span>
            <span *ngIf="cityObj.pressure">{{cityObj.pressure}}</span>
            <span *ngIf="!cityObj.pressure">-</span>
          </div>
          <div>
            <span class="font-w-600">Temperature: </span>
            <span *ngIf="cityObj.temp">{{cityObj.temp}}</span>
            <span *ngIf="!cityObj.temp">-</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoaded && !isDataAvailable" class="p-md text-center">
  Some error Occured
</div>