<div class="spinner-container absolute" [hidden]="isLoaded">
  <div class="spinner-border"></div>
</div>

<div *ngIf="isLoaded && isDataAvailable">
    <div class="p-md" >
        <h3 class="text-center">Sea Level information for {{cityObj.city}} for next 5 days</h3>
    </div>
    <div  class="table table-striped sealevel-container">
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center">Day</th>
                <th class="text-center">Time</th>
                <th class="text-center">Sea Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let level of cityObj.seaLevels">
                  <td class="text-center">
                    <span *ngIf="level.day">{{level.day}}</span>
                    <span *ngIf="!level.day">-</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="level.time">{{level.time}}</span>
                    <span *ngIf="!level.time">-</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="level.seaLevel">{{level.seaLevel}}</span>
                    <span *ngIf="!level.seaLevel">-</span>
                  </td>
              </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary m-t-md" (click)="back()">Back</button> 
    </div>
</div>

<div *ngIf="isLoaded && !isDataAvailable" class="p-md text-center">
  Some error Occured. Please check Internet connection
</div>