@path: "../../../node_modules/bootstrap/less/";

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.p-md {
    padding: 15px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t-md {
    margin-top: 15px;
}
.pointer {
    cursor: pointer;
}
.wordbreak {
    word-break: break-word;
}
.bold {
    font-weight: 700;
}
.font-w-600 {
    font-weight: 600;
}
.blue {
    color: blue;
}
.absolute {
    position: absolute;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}
.spinner-container {
    width: 100%;
    top: 50%;
    text-align: center;
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
@keyframes spinner-border {
    to { transform: rotate(360deg); }
}