<div class="p-md">
    <h2 class="text-center">Welcome to Europe Weather App</h2>
</div>
<div *ngIf="loadWeatherComp">
    <weather-component></weather-component>
</div>
<div *ngIf="!(loadWeatherComp || isDataAvailable)" class="p-md text-center">
    Sorry. Data not available for the routed city. Data available only for 5 Static city names.
    <span class="blue pointer" (click)=back()>Click here</span>
</div>